@import "./inheritance.scss";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  position: relative;
  width: 100vw;
  height: 500vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landingpage::after {
  content: "";
  position: absolute;
  top: 0;
  height: 80vh;
  width: 100vw;
  display: block;
  background-color: black;
  opacity: 0.6;
}

.landingpage {
  height: 80vh;
  width: 100vw;
  background-size: cover;
  background-image: url("../assets/architecture.jpg");

  .landingpageCopyContainerInNavbar {
    @extend %navbarIn;
  }

  .landingpageCopyContainerOutNavbar {
    @extend %navbarOut;
  }

  .landingpageCopyContainer {
    width: 100%;
    height: 50%;
    margin: auto;
    position: absolute;
    left: 10vw;
    top: 300px;
    z-index: 2;

    .landingpageCopyHeader {
      @extend %landingpageHeader;
      color: #eaeaea;
    }

    .landingpageCopyHeader2 {
      @extend %landingpageHeader2;
      color: #eaeaea;
    }

    .landingpageCopyParagraph {
      @extend %landingpageParagraph;
      color: #eaeaea;
      width: 500px;
    }

    .landingpageCta {
      @extend %ctaText;
      color: #f77f00;
      margin-top: 20px;
    }
  }

  // Mobile Devices

  @media (min-width: 576px) and (max-width: 800px) {
    .landingpageCopyHeader {
      font-size: 40px;
    }

    .landingpageCopyHeader2 {
      font-size: 40px;
    }

    .landingpageCopyParagraph {
      font-size: 18px;
      width: 400px;
    }
  }

  @media (max-width: 575px) {
    .landingpageCopyContainer {
      top: 25vh;

      .landingpageCopyHeader {
        font-size: 30px;
        letter-spacing: 5px;
        width: 80vw;
      }

      .landingpageCopyHeader2 {
        font-size: 30px;
      }

      .landingpageCopyParagraph {
        font-size: 16px;
        width: 75vw;
      }
    }
  }

  @media (max-height: 700px) {
    .landingpageCopyContainer {
      top: 25vh;

      .landingpageCopyHeader {
        font-size: 20px;
        letter-spacing: 5px;
      }

      .landingpageCopyHeader2 {
        font-size: 20px;
        letter-spacing: 5px;
      }

      .landingpageCopyParagraph {
        font-size: 14px;
        width: 250px;
        margin-top: 5px;
      }

      .landingPageButton {
        font-size: 12px;
        margin-top: 15px;
      }
    }
  }
}

.aboutContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e4e4;
  overflow-y: visible;

  .aboutHeader {
    @extend %sectionHeader;
    margin-top: 100px;
  }

  .aboutParagraph {
    @extend %paragraph;
    text-align: center;
    width: 50vw;
  }

  .aboutImageContainer {
    margin-top: 50px;
    width: 80vw;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 800px) {
  .aboutParagraph {
    font-size: 18px !important;
  }
}

@media (max-width: 575px) {
  .aboutParagraph {
    font-size: 16px !important;
    width: 90vw !important;
  }
}

.servicesContainer {
  @extend %sectionContainer;
  background-color: #e5e4e4;

  .servicesHeader {
    @extend %sectionHeader;
    margin-top: 100px;
  }
}
