@font-face {
  font-family: "Satoshi";
  src: url("../assets/Satoshi-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Sentient";
  src: url("../assets/Sentient-Variable.ttf") format("truetype");
}

%navbarIn {
  opacity: 0;
  transition-delay: 500ms;
  transition-duration: 500ms;
  transition-property: opacity;
}

%navbarOut {
  opacity: 1;
  transition-delay: 500ms;
  transition-duration: 500ms;
  transition-property: opacity;
}

%cta-button {
  position: relative;
  border: 1px solid #eaeaea;
  padding: 15px 32px 15px 32px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 16px;
  background: none;
  color: #eaeaea;
  margin-right: 5vw;
  pointer-events: all;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

%ctaText {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
}

%landingpageHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

%landingpageHeader2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

%landingpageParagraph {
  font-family: "Satoshi", sans-serif;
  font-variation-settings: "wght" 400;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 2em;
}

%paragraph {
  font-family: "Satoshi", sans-serif;
  font-variation-settings: "wght" 400;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 2em;
}

%sectionHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 24px;
}

%serviceCardHeaders {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 20px;
}

%serviceCardParagraph {
  font-family: "Satoshi", sans-serif;
  font-variation-settings: "wght" 400;
  letter-spacing: 0.5px;
  font-size: 16px;
}

%sectionContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
