@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./inheritance.scss";
// Navbar Container -----------------------
.navContainerScrolled {
  background-color: #e5e4e4 !important;
  top: 0 !important;
  transition-duration: 100ms;
  transition-property: background-color, top;
}

.navContainer {
  width: 100vw;
  flex-direction: row;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  height: 90px;
  z-index: 12;
  top: 2vh;
  background-color: rgba($color: #eaeaea, $alpha: 0);
  transition-delay: 300ms;
  transition-duration: 300ms;
  transition-property: background-color, top;

  .logoScrolled {
    color: #1d1d1d !important;
    transition-delay: 100ms !important;
    transition-duration: 100ms !important;
    transition-property: color !important;
  }

  .logo {
    font-family: "Satoshi", sans-serif;
    font-size: 37px;
    font-variation-settings: "wght" 500;
    letter-spacing: 1px;
    margin-left: 10vw;
    color: #eaeaea;
    transition-delay: 500ms;
    transition-duration: 500ms;
    transition-property: color;
  }

  .logoInNavbar {
    color: #1d1d1d;
    transition-delay: 500ms;
    transition-duration: 500ms;
    transition-property: color;
  }

  .rightContainer {
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;

    .buttonScrolled {
      color: #1d1d1d !important;
      border: 1px solid #1d1d1d !important;
      transition-delay: 100ms !important;
      transition-duration: 100ms !important;
      transition-property: color, border !important;
    }

    .button {
      @extend %cta-button;
      @extend %navbarOut;
      transition-delay: 500ms;
      transition-duration: 500ms;
      transition-property: opacity, color, border;
    }

    .buttonInNavbar {
      @extend %navbarIn;
      opacity: 0 !important;
    }

    // Mobile Devices Button
    @media (max-width: 800px) {
      .button {
        opacity: 0 !important;
        pointer-events: none !important;
      }
    }
  }
}

// Nav Menu ---------------------------------------------

.navMenuContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition-delay: 500ms;
  transition-duration: 500ms;
  transition-property: opacity;
  background-color: #eaeaea;
  z-index: 11;
  display: flex;
  flex-direction: row;

  .menuLeftContainer {
    background-color: #eaeaea;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .navMenu {
      display: flex;
      flex-direction: column;
      margin-left: 10vw;

      .navMenuItem {
        // font-family: "Sentient", serif;
        // font-variation-settings: "wght" 400;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #1d1d1d;
        text-decoration: none;
        font-size: 50px;
        margin: 10px 0px 10px 0px;
        width: fit-content;
      }

      .navMenuItem:after {
        background: none repeat scroll 0 0 transparent;
        content: "";
        display: block;
        height: 5px;
        left: 50%;
        background: #1d1d1d;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      .navMenuItem:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }

  .menuRightContainer {
    background-image: url("../assets/geometryblack.jpg");
    background-size: cover;
    height: 100vh;
    width: 50vw;
    opacity: 0.95;
  }

  // Mobile Devices Nav Menu
  @media (max-width: 800px) {
    .menuRightContainer {
      opacity: 0 !important;
      pointer-events: none;
    }

    .menuLeftContainer {
      width: 100vw;
    }
  }

  @media (max-width: 500px) {
    .navMenuItem {
      font-size: 40px !important;
    }
  }
}

.menuClosed {
  opacity: 0;
  pointer-events: none;
  transition-delay: 500ms;
  transition-duration: 500ms;
  transition-property: opacity;
  z-index: 1;
}
